//Import Core Bootstrap Styles
@import "less/bootstrap.less";
//Import Dotnetnuke Fixes - Things that bootstrap Breaks
@import "less/custom/dnnFixes.less";


body {
    background-color:#eee;
}

.content-bg{
    background-color:#fff;
} 


.no-gutter { 
  [class*="col-"] {
    padding-left: 0 !important; 
    padding-right: 0 !important;
  } 
}




/*Search Result Page Styling*/

.dnnSearchBoxPanel
{
    max-width: none;


    .dnnSearchBox
    {
        margin-right: 10px;
    }
}

.dnnSearchResultPanel
{
    max-width: none;
}

.dnnSearchBox > .dnnSearchBox_advanced > .dnnSearchBox_advanced_label
{
    height: 30px;
}

input#dnnSearchResult_dnnSearchBox_input
{
    width: 90% !important;
}


    