//Import Core Bootstrap Styles
@import "less/bootstrap.less";
//Import Dotnetnuke Fixes - Things that bootstrap Breaks
@import "less/custom/dnnFixes.less";

/*Varibles*/

@RS-Red: #d52027;
@RS-Soft-Grey: #eff0f1;
@RS-Strong-Grey: #545555;

/*http://www.thedotmack.com/2013/11/18/less-media-query-mixins/*/
@xxs: ~'max-width: 377px';
@xs: ~'max-width: @{screen-xs-max}';
@sm: ~'max-width: @{screen-sm-max}';
@md: ~'max-width: @{screen-md-max}';

body {
    background-color:#eee;

    @media(@sm)
        {
            background-color:#000;
        }
}

.content-bg{
    background-color:#fff;
} 


.no-gutter { 
  [class*="col-"] {
    padding-left: 0 !important; 
    padding-right: 0 !important;
  } 
}

 




    